body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body #root {
  display: grid;
  grid-template-rows: 10% auto 5%;
  height: 100%;
}
header {
  grid-row: 1;
}
main {
  grid-row: 2;
  overflow: auto;
}
footer {
  grid-row: 3;
  background-color: #343a40;
  color: white;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0%;
  padding: 1rem;
}
.container {
  max-width: 960px;
  margin-left: 10%;
  margin-right: 10%;
}
.navbar{
  padding: 0;
  height: 100%;
}
.navbar, footer, .navbar-nav{
  background-color: #262626;
} 
.navbar a.nav-link {
  color: #8e8e8e;
  transition: color .15s ease-in-out;
}
.navbar a.nav-link:hover {
  color: #fff;
  text-decoration: none;
}
.navbar-toggler-icon{
  color: #8e8e8e;
}
.logo{
  max-width: 40px;
}
header a {
  text-decoration: none;
}
.home-div{
  background-image: url("http://localhost:3000/assets/fondo-home-2.jpg");
  background-size: cover; 
  background-position: center;
  flex: 1;
  display:flex;
}

.home-text{
  color: #d6d6d6;
  font-weight: 700;
}

.secondary-text{
  color: #d6d6d6;
  font-weight: 500;
}

.card {
  margin-bottom: 20px;
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.card-text {
  margin-bottom: 10px;
  text-align: justify;
}

.recipe-card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.recipe-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recipe-content {
  padding: 15px;
}

.recipe-media {
  display: flex;
  align-items: flex-start;
}

.recipe-img-wrapper {
  flex: 1;
}

.recipe-img {
  border-radius: 10px;
  max-width: 100%;
  height: auto;
  max-height: 300px; /* Ajusta el tamaño máximo de la imagen */
}

.recipe-iframe-wrapper {
  flex: 1;
}

.recipe-iframe {
  border-radius: 10px;
  max-width: 100%;
  height: auto;
  max-height: 200px; /* Ajusta el tamaño máximo del video */
}

.ingredient-list {
  list-style-type: none;
  padding: 0;
}

.ingredient-list li {
  background: #f8f8f8;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
}

.favourite-card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.favourite-card img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  max-height: 200px; /* Ajusta el tamaño máximo de la imagen */
  object-fit: cover;
}

.card-body {
  padding: 15px;
  display: flex;
  flex-direction: column;
}
